body{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.navbar{
  margin-top:30px;
  margin-bottom:40px;
  border:none;
  background-color: white;
}
nav{
  font-size: 110%;
}
.jumbotron{
  background-color:white;
}
.jumbotron h1{
  font-weight:lighter;
  font-size:50pt;
  font-weight:100;
}
.jumbotron h2{
  font-weight:300;
}

.prjimg{
  width: 100%;
}

.navbar-default .navbar-nav>.active>a{
  background-color:white ;
  border-bottom: 1px solid black;

}
.cardinfo{
  position:absolute;
  top:0;
  left:0;
  background-color:rgba(0,0,0, .7);
  width:100%;
  height:100%;
  color:white;


}
.cardinfo h3{
  font-weight: bold;
  margin-left: 5%;
  margin-right:5%;
}
.nav>li:hover{
  background-color:#e6e6e6;

}

.col-xs-12{
  padding:0;
  margin-top:10px;
  margin-bottom:10px;
}


#funexplode{
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  display:none;
  background: url('./kitty.jpg') center 0px no-repeat fixed;
}

#fun{
  position:fixed;
  bottom:3px;
  right:3px;
  width:30px;
  height:30px;
  font-size: 12px;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-color:rgba(255, 255, 255, 0.6);
}

.subheading{
  background-color:#ed1c40;
  color:white;
  padding-top:5px;
  padding-bottom:10px;
  font-weight:lighter;
  margin-top:15px;
}
.subheading1{
  background-color:#386aff;
  color:white;
  padding-top:5px;
  padding-bottom:10px;
  font-weight:lighter;
  margin-top:15px;
}
.subheading2{
  background-color:#D95B00;
  color:white;
  padding-top:5px;
  padding-bottom:10px;
  font-weight:lighter;
  margin-top:15px;
}

p{
  margin-top:10px;
  margin-bottom:10px;
}
footer{
  padding-top:25px;
}
footer a{
  color:black;
}
footer .col-xs-4{
  padding-top: 15px;
}

@media only screen and (min-width:769px) {
  p{
    font-size:130%;
  }
  footer p{
    font-size:100%;
  }
}
@media only screen and (max-width:768px){

  p{
    font-size:120%;
  }
  footer p{
    font-size:100%;
  }

  .cardinfo {
    font-size:150%;
  }
}
@media only screen and (max-width:992px){
  .cardinfo  p {
    font-size:90%;
  }
  .cardinfo h3{
    font-size:140%;
  }
}
